<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        {{>maincss}}
    </head>
    <body>
        {{>header}}
        <div style="padding: 0 20%;">
            {{{ contents }}}
        </div>
    </body>
</html>