<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
    </head>
    <body>
        <h3 style="text-align:center"><a href="/index.html">home this a-way</a></h3>
        <h1>{{{ title }}}</h1>
        {{{ contents }}}
    </body>
</html>