body{
    overflow: hidden;
    background-color: black;
}
canvas{
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
butonbox{
    display:flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    top: 25%;
    background-color: rgba(1, 1, 1 0.15);
}
buton{
    font-family: "VCR_OSD";
    color: white;
    cursor: grab;
}